{% extends 'base.html' %}

{% load static %}


{% block content %}
    <br>
    <br>



    <h1 style="color: green";>WELCOME TO USED PRODUCT MANAGEMENT PAGE </h1>
    <br>
    <br>
    <br>



    <ul class="list-unstyled">
  <li class="media">
    <img src="/media/images/home/pricelist.jpg" height="150" width="150" class="mr-3" alt="...">
    <div class="media-body">

 <h5  style="color:green; padding-top: 50px" class="mt-0 mb-1">
Check the pricelist</h5>

        <br>
    </div>

  </li>
  <li class="media my-4">
    <img src="/media/images/home/time.jpg" height="150" width="150" class="mr-3" alt="...">
    <div class="media-body">
      <h5 style="color:green; padding-top: 50px" class="mt-0 mb-1">
Choose a time for  pickup</h5>

    </div>
  </li>
  <li class="media">
    <img src="/media/images/home/delivery.png" height="150" width="150"class="mr-3" alt="...">
    <div class="media-body">
      <h5 style="color:green;padding-top: 50px" class="mt-0 mb-1">
Pickup boys will arrive at your home</h5>

    </div>
  </li>
</ul>

    <br>




<br>
    <br>
<br>
    <br>
<div class="media">

<h1 style="color: #44b31f;">Collecting used product <br> from houses to corporates <p><br>
    <img src="/media/images/home/industries.png" > <img src="/media/images/home/society-house.png" style="margin-left: 20px">
    <img src="/media/images/home/institutes1.png" style="margin-left: 20px">
    <img src="/media/images/home/shop-mall.png" style="margin-left: 20px">
    <img src="/media/images/home/bank.png"style="margin-left: 20px">




</p></h1>
    <br>



  <div class="media-body">
    <h5 class="mt-0 mb-1"></h5>



  </div>

  <img src="/media/images/home/download%20(1).jfif" height="350" width="300" class="ml-3" alt="...">
</div>


{%  endblock content %}