{% extends 'base.html' %}

{% load static %}


{% block content %}
    <br>
    <br>



    <h1 style="color: green";>WELLCOME TO USED PRODUCT MANAGEMENT PAGE </h1>
    <br>
    <br>
    <br>



    <ul class="list-unstyled">
  <li class="media">
    <img src="/media/images/home/pricelist.jpg" height="150" width="150" class="mr-3" alt="...">
    <div class="media-body">

 <h5  style="color:green;" class="mt-0 mb-1">
Check the pricelist</h5>

        <br>
    </div>
  </li>
  <li class="media my-4">
    <img src="/media/images/home/time.jpg" height="150" width="150" class="mr-3" alt="...">
    <div class="media-body">
      <h5 style="color:green"; class="mt-0 mb-1">
Choose a time for  pickup</h5>

    </div>
  </li>
  <li class="media">
    <img src="/media/images/home/delivery.png" height="150" width="150"class="mr-3" alt="...">
    <div class="media-body">
      <h5 style="color:green"; class="mt-0 mb-1">
Pickup boys will arrive at your home</h5>

    </div>
  </li>
</ul>

    <br>




<br>
    <br>
<br>
    <br>
<div class="media">
  <div class="media-body">
    <h5 class="mt-0 mb-1"></h5>

  </div>
  <img src="/media/images/home/download%20(1).jfif" height="380" width="300" class="ml-3" alt="...">
</div>


{%  endblock content %}