{% extends 'base.html' %}


{% block content %}
    <br>
    <br>



    <h1 style="color: green";>PRICE LIST  </h1>


    <ul class="list-unstyled">
  <li class="media">
    <img src="/media/images/home/paper.jfif" height="200" width="250" class="mr-3" alt="...">
    <div class="media-body">
      <h5 class="mt-0 mb-1">paper </h5>
      <b  style="color: green";>  per kg :- 20 taka  </b><br>

    </div>
  </li>
         <br>
          <br>
          <br>
  <li class="media my-4">
    <img src="/media/images/home/download%20(15).jfif" height="200" width="250" class="mr-3" alt="...">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Newspaper</h5>
      <b  style="color: green";>  per kg :- 20 taka  </b><br>
    </div>
  </li>
         <br>
          <br>
          <br>
  <li class="media">
    <img src="/media/images/home/copper.jpg" height="200" width="250" class="mr-3" alt="...">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Copper/Aluminium</h5>
      <b  style="color: green";>  per kg :- 200 taka  </b><br>

    </div>
</li>
         <br>
          <br>
          <br>
   <li class="media">
    <img src="/media/images/home/timi.jfif" height="200" width="250" class="mr-3" alt="...">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Plastic</h5>
      <b  style="color: green";>  per kg :- 10 taka  </b><br>

    </div>
    </li>
        <br>
          <br>
          <br>

    <li class="media">
    <img src="/media/images/home/wood.jpg" height="200" width="250" class="mr-3" alt="...">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Wood </h5>
      <b  style="color: green";>  Negotiable  </b><br>
    </div>
    </li>
<br>
    <br>
<br>
    <br>


   <li class="media">
    <img src="/media/images/home/f2.jpg" height="200" width="250" class="mr-3" alt="...">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Fridge </h5>
      <b  style="color: green";>  Negotiable  </b><br>
    </div>
    </li>



{%  endblock content %}