{% extends 'base.html' %}
{% load static %}

{% block content %}


    <!--<body style="background-color:MediumSeaGreen;">-->
    <h1 style="color: darkkhaki" ;> Product information</h1>
    {% for i in userlist %}




<div class="card" style="width: 18rem;">
  <img src="{{ i.product_pic.url }}" class="card-img-top" alt="...">
  <div class="card-body">

      <p style="border:2px solid MediumSeaGreen ;"><b style="color: olive";>product type: </b>{{ i.product_type}}</p>
    <p class="card-text">

        <b style="color: greenyellow";>  product weight: </b> {{ i.weight}} kg<br>
        <b style="color: greenyellow";> product price per kg: </b> {{ i.price }} taka<br>

    </p>

  </div>
</div>





        <br>
        <br>
    {% endfor %}

{% endblock content %}
