{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1> Product information</h1>
    {% for i in userlist %}




<div class="card" style="width: 18rem;">
  <img src="{{ i.product_pic.url }}" class="card-img-top" alt="...">
  <div class="card-body">

    <h5 class="{{ i.product_type}}">Product Type</h5>
    <p class="card-text">

         product weight: {{ i.weight}} kg<br>
         product price: {{ i.price }} taka<br>

    </p>

  </div>
</div>





        <br>
        <br>
    {% endfor %}

{% endblock content %}
