<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> <b style="color: olive";>USED PRODUCT MANAGEMENT</b></title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <!-- Navbar content -->


    <a class="navbar-brand" href="#"><b style="color: olive";>Used product management</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">

          <a class="nav-link" href="{% url 'home' %}"><b style="color: green";>Home</b><span class="sr-only">(current)</span></a>
      </li>

       <li class="nav-item active">

          <a class="nav-link" href="{% url 'pricelist' %}"><b style="color: green";>Pricelist</b><span class="sr-only">(current)</span></a>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <b style="color: green";> insertion</b>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

            <a class="dropdown-item" href="{% url 'insert_product' %}"> <b style="color: green";>Product Insert</b></a>
            <a class="dropdown-item" href="{% url 'insertseller' %}"> <b style="color: green";>sellerinsertion</b></a>
            <a class="dropdown-item" href="{% url 'insertpickup' %}"> <b style="color: green";>pickup</b></a>
        </div>
      </li>


    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <b style="color: green";> profile</b>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'create_profile' %}"><b style="color: black";>Create Profile</b></a>
                <a class="dropdown-item" href="{% url 'view_profile' %}"><b style="color: black";>Show Profile</b></a>

        </div>
      </li>



        <li class="nav-item dropdown">

            {% if user.is_authenticated %}
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <b style="color: green";> User</b>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">



            <a class="dropdown-item" href="{% url 'logout' %}"><b style="color: olive";>logout</b></a>
            <a class="dropdown-item" href="{% url 'password_change' %}"><b style="color: olive";>change password</b></a>
            <a class="dropdown-item" href="{% url 'show_product' %}"><b style="color:olive";>show product</b></a><br>

        </div>

            {% else %}


                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <b style="color: greenyellow";>LogIn</b>
                </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">

              <a class="dropdown-item" href="{% url 'registration' %}"><b style="color: olive";>signup</b></a>
              <a class="dropdown-item" href ="{% url 'login' %}"><b style="color: olive";>login</b></a>

        </div>


        {% endif %}

      </li>

    </ul>

       <form method="POST" action="{% url 'show_product' %}">
                {% csrf_token %}

              <input  type="search" name="search">

              <button  type="submit">Search</button>
            </form>








  </div>
</nav>


        <


  <div class="container">

 {% block content %}


 {% endblock content %}
</div>
<br>
<br>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<br>
<br>
<br>
<br>
<br>
<br>



<h2 style="color:green; margin-left: 30px"> Contact with us </h2>
<p style=" margin-left: 30px">

    <img src="/media/images/product/facebook.png" height="50" width="50">
    <img src="/media/images/product/insta.png" height="50" width="50"  style="margin-left: 10px">
    <img src="/media/images/product/twitter.png" height="60" width="60"  style="margin-left: 10px">
    <span style="margin-left: 600px; font-weight: 800;">
       About Us

        <span style="margin-left: 10px">Contact</span>

<span style="margin-left: 10px">Privacy Policy
    Terms and Conditions</span>

    </span>


</p>








</body>
</html>