<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> USED PRODUCT MANAGEMENT</title>
</head>
<body>



    <a href="{% url 'insertseller' %}">sellerinsertion</a><br>

{% if user.is_authenticated %}
    <h3>{{ user.username }}</h3>

    <a href="{% url 'sellerlist' %}">sellerlist</a><br>
    <a href="{% url 'logout' %}">logout</a><br>
    <a href="{% url 'password_change' %}">change password</a><br>
    <a href="{% url 'create_profile' %}">Create Profile</a><br>
    <a href="{% url 'view_profile' %}">Show Profile</a><br>



{% else %}
    <h3>Unknown User </h3>
     <a href="{% url 'registration' %}">signup</a><br>

     <a href="{% url 'login' %}">login</a><br>

{% endif %}

{% block content %}

<br>


{% endblock content %}

<br>
<br>
<h2>Contact with us</h2>
</body>
</html>